In [1]:
import os

import kagglehub
import pandas as pd

#Download the current version that is 1 
path = kagglehub.dataset_download("usdot/flight-delays/versions/1")

print("Path to dataset files:", path)

/home/pyatrix/PycharmProjects/Personal_projects/FlightQueryAI/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /home/pyatrix/.cache/kagglehub/datasets/usdot/flight-delays/versions/1

In [2]:
airlines_df = pd.read_csv(os.path.join(path,"airlines.csv"))
airlines_df

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [3]:
airlines_df.columns

Index(['IATA_CODE', 'AIRLINE'], dtype='object')

In [4]:
airports_df = pd.read_csv(os.path.join(path,"airports.csv"))
airports_df

airports_df.columns

Index(['IATA_CODE', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY', 'LATITUDE',
       'LONGITUDE'],
      dtype='object')

In [5]:
airports_df["IATA_CODE"].value_counts()

IATA_CODE
YUM    1
ABE    1
SIT    1
SJC    1
SJT    1
      ..
ACK    1
ACT    1
ACV    1
ACY    1
ADK    1
Name: count, Length: 322, dtype: int64

In [2]:
flights_df = pd.read_csv(os.path.join(path,"flights.csv"))
len(flights_df)

/tmp/ipykernel_229804/83074616.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights_df = pd.read_csv(os.path.join(path,"flights.csv"))

5819079

In [3]:
flights_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
flights_df["FLIGHT_NUMBER"].value_counts()

FLIGHT_NUMBER
469     3975
327     3554
326     3513
188     3386
403     3370
        ...
6850       1
6765       1
6783       1
6895       1
6887       1
Name: count, Length: 6952, dtype: int64

In [8]:
flights_df["DESTINATION_AIRPORT"].value_counts()

DESTINATION_AIRPORT
ATL      346904
ORD      285906
DFW      239582
DEN      196010
LAX      194696
          ...
13459         1
12265         1
14025         1
13964         1
10666         1
Name: count, Length: 930, dtype: int64

In [9]:
flights_df["AIRLINE"].value_counts()

AIRLINE
WN    1261855
DL     875881
AA     725984
OO     588353
EV     571977
UA     515723
MQ     294632
B6     267048
US     198715
AS     172521
NK     117379
F9      90836
HA      76272
VX      61903
Name: count, dtype: int64

:

In [10]:
import numpy as np
flights_df = flights_df.replace([np.nan], [None])

In [10]:
num_rows = len(flights_df)
chunk_size =2
for start in range(0, num_rows, chunk_size):
    end = start + chunk_size
    chunk_df = flights_df.iloc[start:end]
    for row in chunk_df.to_dict(orient="records"):
        year=row["YEAR"],
        month=row["MONTH"],
        day=row["DAY"],
        day_of_week=row["DAY_OF_WEEK"],
        airline_id=row["AIRLINE"],
        flight_number=row["FLIGHT_NUMBER"],
        tail_number=row.get("TAIL_NUMBER"),
        origin_airport_id=row["ORIGIN_AIRPORT"],
        destination_airport_id=row["DESTINATION_AIRPORT"],
        scheduled_departure=row.get("SCHEDULED_DEPARTURE"),
        departure_time=row.get("DEPARTURE_TIME"),
        departure_delay=row.get("DEPARTURE_DELAY"),
        taxi_out=row.get("TAXI_OUT"),
        wheels_off=row.get("WHEELS_OFF"),
        scheduled_time=row.get("SCHEDULED_TIME"),
        elapsed_time=row.get("ELAPSED_TIME"),
        air_time=row.get("AIR_TIME"),
        distance=row.get("DISTANCE"),
        wheels_on=row.get("WHEELS_ON"),
        taxi_in=row.get("TAXI_IN"),
        scheduled_arrival=row.get("SCHEDULED_ARRIVAL"),
        arrival_time=row.get("ARRIVAL_TIME"),
        arrival_delay=row.get("ARRIVAL_DELAY"),
        diverted=row.get("DIVERTED"),
        cancelled=row.get("CANCELLED"),
        cancellation_reason=row.get("CANCELLATION_REASON"),
        air_system_delay=row.get("AIR_SYSTEM_DELAY"),
        security_delay=row.get("SECURITY_DELAY"),
        airline_delay=row.get("AIRLINE_DELAY"),
        late_aircraft_delay=row.get("LATE_AIRCRAFT_DELAY"),
        weather_delay=row.get("WEATHER_DELAY",None)
        print(year,month,day,day_of_week,airline_id,flight_number,tail_number,origin_airport_id,destination_airport_id,scheduled_departure,departure_time,departure_delay,taxi_out,wheels_off,scheduled_time,elapsed_time,air_time,distance,wheels_on,taxi_in,scheduled_arrival,arrival_time,arrival_delay,diverted,cancelled,cancellation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay)
        break
    break

(2015,) (1,) (1,) (4,) ('AS',) (98,) ('N407AS',) ('ANC',) ('SEA',) (5,) (2354.0,) (-11.0,) (21.0,) (15.0,) (205.0,) (194.0,) (169.0,) (1448,) (404.0,) (4.0,) (430,) (408.0,) (-22.0,) (0,) (0,) (None,) (None,) (None,) (None,) (None,) None